<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoo Huesca | Inicio</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/search-bar.css">
</head>
<body>
    <nav>
        <h1><a href="/">Zoo Huesca</a></h1>
        <%- include('./partials/search.ejs'); %> 
        <div class="menu">
            <a href="/nuevo">Nuevo</a>
            <a href="/gallery">Galería</a>
        </div>
    </nav>
    <main>
        <section>
            <h2>Número de animales: <%=animals.length%></h2>
            <%animals.map((animal, index)=>{%>
                <ul class="lista">
                    <li>
                        <div>
                            <p><b><%=index+1%>. <%=animal.nombre%></b></p>
                            <p><b>Especie:</b> <%=animal.especie%></p>
                            <p><b>Dieta:</b> <%=animal.dieta%></p>
                            <p><b>Peso:</b> <%=animal.kg%> kg.</p>
                        </div>
                    </li>
                </ul>
        <%})%>
            </section>
    </main>
    <%- include('./partials/footer.ejs'); %>
</body>
</html>